.footer{
    background: #2F324B;
    min-height: 80px;
    padding: 45px 200px;
    
}

.footer__scheme{
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__company{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 8px;
}

.co{
    padding-top: 2,5px;
    white-space: pre-wrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}

.author{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}

.footer__scheme>.phone{
    padding-top: 0;
    padding-right: 1px;
}

.additional{
    display: none;
}

@media  (max-width: 1440px) {
    .footer{
    padding: 45px 30px;
    }
}

@media (max-width: 640px) {


    .co{
        font-size: 8px;
        line-height: 11px;
    }

    .footer__scheme >.phone{
        font-size: 11px;
        line-height: 18px;
    }

    .footer__scheme>.phone>.tel{
        font-size: 11px;
        line-height: 18px;  
    }
    .author{
        display: none;
    }

    .additional{
        display: block;
        height: 47px;
        padding: 17px 78px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.5);
        background-color: #2A2C3F;

    }
}

@media (max-width: 320px) {
    .footer{
        padding: 25px 15px;
    }

    .footer__scheme{
        height: 30px;
    }

    .logo{
        width: 30px;
    }

    .co{
        font-size: 8px;
        line-height: 11px;
    }

    .author{
        display: none;
    }

    .additional{
        display: block;
        height: 47px;
        padding: 17px 78px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: rgba(255, 255, 255, 0.5);
        background-color: #2A2C3F;

    }
}